.bottom-alert {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    width: 100pc;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1.4rem;
    left: 0;
    color: white;
    padding: 1rem 2rem;
    animation: fadeInAndOut 4s forwards ease-in-out;
}

@keyframes fadeInAndOut {
    0% {
        bottom: -10rem;
    }
    10% {
        bottom: 0;
    }
    90% {
        bottom: 0;
    }
    100% {
        bottom: -10rem;
    }
}
