@import '../variables';
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    margin-bottom: 5rem;

    .register-error {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    &__content {
        width: 35rem;
        &__sub-logo {
            margin-top: 2rem;
            font-size: 1.7rem;
            font-weight: 500;
        }
        .btn-login-fb {
            height: unset;
            padding: 0.5rem 0;
        }
        .hr {
            font-size: 1.4rem;
            position: relative;
            font-weight: 500;
            text-transform: uppercase;
            span {
                position: relative;
                z-index: 1;
                padding: 0.1rem 0.4rem;
                background-color: white;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 0.1rem;
                background-color: rgba(0, 0, 0, 0.2);
                top: 50%;
                left: 0;
            }
        }
        &__form {
            background-color: $white-clr;
            padding: 1.5rem 4rem;
            text-align: center;
            border: thin solid rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            .form-group {
                margin-bottom: 1.5rem;
            }

            input {
                height: 3.5rem;
                background-color: $background-clr;
                border: thin solid rgba(0, 0, 0, 0.1);
                outline: none;
                font-size: 1.4rem;
                padding: 0 1rem;
                border-radius: 0.5rem;
            }

            button {
                margin-top: 1rem;
                height: 3.5rem;
                outline: none;
                border: none;
                color: $white-clr;
                font-size: 1.5rem;
                border-radius: 0.5rem;
                font-weight: 500;
            }
            button[type='submit'] {
                background-color: #0095f6;
                margin-bottom: 2rem;
                width: 100%;
                &:focus {
                    box-shadow: none;
                }
                &:active {
                    background-color: #b2dffc;
                }
            }

            .rules {
                font-size: 1.2rem;
            }
        }
        .has-account {
            background-color: $white-clr;
            padding: 2rem;
            text-align: center;
            border: thin solid rgba(0, 0, 0, 0.2);
            font-size: 1.5rem;
            margin-top: 1rem;
            a {
                color: #0095f6;
            }
        }
    }
}
