@import '../../scss/variables';
@import '../../scss/mixin';

.suggestions {
    display: flex;
    justify-content: center;
    &__search {
        display: none;
        @include tablet {
            display: block;
            margin-bottom: 2rem;
            .search {
                height: 4rem;
                &__content {
                    width: 100%;

                    z-index: 1000;
                }
                input {
                    background-color: white;
                }
            }
        }
    }
    &__container {
        width: 60rem;
        @include tablet {
            margin: 0 1rem;
        }
    }
    &__title {
        padding: 1rem 2rem;
        font-size: 1.6rem;
        font-weight: 600;
    }
    &__list {
        padding: 1rem 0;
        background-color: white;
    }
}
