.footer {
    user-select: none;
    margin: 0 auto;
    margin-top: 5rem;
    font-size: 1.3rem;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        &__item {
            color: black;
            opacity: 0.6;
        }
    }
}
