@import '../../scss/variables';
@import '../../scss/mixin';

.dropdown {
    cursor: pointer;
    margin: 0.5rem 1rem;
    flex-shrink: 0;

    input {
        position: absolute;
        width: 0;
        height: 0;
        border: none;
    }
    &__btn {
        border-radius: 50%;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    &__btn.active {
        outline: thin solid black;
    }
    &__btn.active + .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        box-shadow: 0.1rem 0.1rem 1rem 0.5rem rgba($color: #000000, $alpha: 0.1);
        @include tablet {
            right: 0 !important;
            left: unset;
        }
        left: -10rem;
        margin-top: 1rem;
        -webkit-animation: swing-in-top-fwd 0.2s both;
        animation: swing-in-top-fwd 0.2s both;
        svg {
            width: 1.4rem;
            height: 1.4rem;
        }
        .dropdown-item {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 20rem;
            font-size: 1.6rem;
        }
    }
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}
