.tab-edit {
    .form-group {
        margin-top: 1rem;
        display: flex;
        align-content: flex-start;
        padding-right: 10rem;
        gap: 3rem;
        flex-wrap: wrap;
        label {
            font-size: 1.5rem;
            width: 15rem;
            text-align: right;
            font-weight: 600;
        }

        #story {
            font-size: 1.4rem;
            height: 8rem;
        }
        .sub-input {
            margin-top: 1rem;
            font-size: 1.2rem;
        }
        .input {
            flex: 1;
            select {
                height: 3.5rem;
                font-size: 1.4rem;
            }
            input {
                font-size: 1.4rem;
                height: 3.5rem;
            }

            .username {
                font-size: 1.8rem;
                font-weight: 500;
            }
        }
        button {
            background-color: #0095f6 !important;
            &:focus {
                box-shadow: none !important;
            }
            &:active {
                background-color: #b2dffc !important;
            }
        }
    }
}
