@import '../../scss/variables';
@import '../../scss/mixin';

.account-edit {
    background-color: white;
    border: thin solid #cccccc;

    .left-content {
        padding: 0;
        border-right: thin solid #cccccc;
        @include tablet {
            display: none;
        }
        a {
            opacity: 0.9;

            &:active {
                opacity: 0.5;
            }

            &.active {
                font-weight: 600;
                border-left: 2px solid black;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.02);
            }
            color: black;
            display: block;
            font-size: 1.5rem;
            padding: 1.5rem 2rem;
        }
    }
    .right-content {
        padding: 2rem 3rem;
        min-height: 40rem;
        @include tablet {
            padding: 2rem;
        }
        @include mobile {
            padding: 1rem 2rem;
        }
        .tab-edit {
            .form-group {
                @include sm-desktop {
                    padding: 0;
                    label {
                        width: 10rem;
                    }
                }
                @include tablet {
                    gap: 2rem;
                    margin-top: 0.5rem;
                    label {
                        text-align: center;
                    }
                }
                @include mobile {
                    gap: 1rem;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    label {
                        width: 100%;
                    }
                }
            }
            .form-group:nth-child(1) {
                @include tablet {
                    input {
                        width: 100%;
                        &::before {
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
